@model TechZone.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container mt-5">
    <div class="row">

        <!-- Product Image -->
        <div class="col-md-5 text-center">
            <img src="@Model.ImageUrl"
                 alt="@Model.Name"
                 class="img-fluid rounded shadow"
                 style="max-height:350px;" />
        </div>

        <!-- Product Info -->
        <div class="col-md-7">
            <h2 class="mb-3">@Model.Name</h2>

            <p class="text-muted">
                <strong>Category:</strong> @Model.Category
            </p>

            <h4 class="text-success mb-3">
                @Model.Price.ToString("0.00") SAR
            </h4>

            <p class="mb-4">
                @Model.Description
            </p>

    
            <a asp-action="Index"
               class="btn btn-outline-secondary btn-lg ms-2">
                Back to Products
            </a>
        </div>

    </div>
</div>
